* {
    margin: 0;
    padding: 0;
}

body{
    max-height: 100vh;
    overflow: hidden;
}

#container {
    height: 100%;
    display: inline-block;
}

.block {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    vertical-align: top;
    float: left;
}